* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: slategrey;
}

header {
    position: fixed;
    width: 100%;
    background-color: lightblue;
    margin: 0px 0 10px;
    border: steelblue solid 7px;
}

/* Removes underscore from anchor links  */
a {
    text-decoration: none;
    color: black;
}

/* Anchor links change color when hovered over  */
nav a:hover,
footer a:hover {
    color: steelblue;
}

h1 {
    font-size: 3rem;
    margin: 20px;
}

h3 {
    font-size: 2rem;
    margin: 10px;
}

/* Adds spacing in project description headings so the second line with the <p> element doesn't occlude text. */
h4 {
    font-size: 1.5rem;
    margin-bottom: 4px;
}

/* Fixes nav bar in top right under default viewport size */
nav ul {
    position: absolute;
    top: 15px;
    right: 20px;
    display: inline-flex;
    font-size: 1.3rem;
    font-weight: bold;
}

nav li {
    margin: 0 15px;
}

/* Spaces main content down so it's not covered by the header. */
main {
padding-top: 100px;
}

/* Sets sizing and placement of picture in "About Me"  */
#img-me {
    height: 400px;
    width: auto;
    float: left;
    margin: 0 20px;
}

article {
    margin: 15px 1%;
    background-color: lightblue;
    border: steelblue solid 7px;
}

/* Sets "About Me" height to encompass photo  */
#about-me {
    height: 490px;
}

#about-me p {
    margin: 80px 50px 80px 50px;
}

/* Hacky way of placing photo credit at bottom of pictures */
#pic-credit {
    position: relative;
    top: 225px;
}

/* Sets the project images to wrap and space cleanly */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Hacky way of giving the project descriptions a background for legibility */
span {
    background-color: steelblue;
}

/* sets sizing and background positioning for project images */
/* section a {
    height: 300px;
    border: steelblue solid 7px;
    margin: 20px 0px;
    background-size: cover;
    background-position:center;
} */

.primary-project,
.secondary-project{
    height: 300px;
    border: steelblue solid 7px;
    margin: 20px 0px;
    background-size: cover;
    background-position:center;
}



/* Changes cursor to hand pointer to show porject images are interactive */
section a:hover {
    cursor: pointer;
    color: gold;
}

/* sets first project image as larger than the others  */
.primary-project {
    width: 80%;
}

.secondary-project {
    display: flex;
    width: 35%;
}

/* Project anchor image backgrounds  */
#farmers-market {
    background-image: url(../images/farmers-market.png);
}
#weather-dashboard {
    background-image: url(../images/weather-dash.png);
}
#day-planner {
    background-image: url(../images/day-planner.png);
}
/* #perp-motion {
    background-image: url(../images/perp-motion.jpg);
}
#something-else {
    background-image: url(../images/something-else.jpg);
} */

footer {
    margin: 15px 1%;
    background-color: lightblue;
    /* text-align: center */
    border: steelblue solid 7px;
}

footer ul {
    display: inline-flex;
    font-size: 1.3rem;
    font-weight: bold;
}

footer li {
    /* Spaces each list element horizontally  */
    margin: 10px 15px;
}

/* Adjusts nav ul and footer ul and corresponding element padding and margins  */
@media screen and (max-width: 840px) {
    header {
        padding-bottom: 25px;
    }

    main {
    margin-top: 125px;
    }

    nav ul {
        top: 75px;
        right: unset;
    }

    footer ul {
        display: unset;
    }
}